{% if current_user.is_authenticated %}
    {% extends "about_navbar_logout.html" %}
{% elif current_user.is_authenticated == False %}
    {% extends "about_navbar_login.html" %}
{% endif %}


{% block content %}
    <div class="about">
        <h2 class="text-center" >
            <br>The Alamo conservation project
            <br>is developing technology to support digital record
            <br>keeping of the conservation efforts underway at
            <br>the Alamo. We are developing a Web-based conservation
            <br>management system based on the LAMP architecture
            <br>and open conservation standards,
            <br>such as CIDOC-CRM.
        </h2>
    </div>
{% endblock %}

