{% extends "base_alamo.html" %}
{% block content %}
    <div class="container" style="padding: 50px 20px">

			<h1 class="fg-white">The Alamo conservation project</h1>
			<h2 class="fg-white">is developing technology to support digital record
                <br>keeping of the conservation efforts underway at
                <br>the Alamo. We are developing a Web-based conservation
                <br>management system based on the LAMP architecture
                <br>and open conservation standards,
                <br>such as CIDOC-CRM. </h2>
    </div>
{% endblock %}
